header {
    background-color: var(--surface-color);
    & nav{
        align-items: center;
        & div:nth-child(2) {
            margin-left: auto;

            & img {
                width: 1.5rem;
                object-fit: cover;
                align-items: center;
            }
        }

        & div:nth-child(5) {
            & img {
                width: 40px;
                object-fit: cover;
                align-items: center;
            }
        }
    }
}

@media (width >= 80em) {
    header {
        .container {
            padding-block: 1.25rem;

            & nav {
                font-size: var(--fs-md);
                line-height: var(--lh-md);
            }
        }
    }    
}